/*global body parameters */
.global {
    background-image: url(../images/gravel.png);
}

/* Style the links inside the navigation bar */
nav {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    float: right;
    text-align: right;
    word-spacing: 14px;
    color: #cccccc;
    padding: 50px 500px 35px 0px;
    margin: -10px -15px 0px 0px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Format the Name */
.name {
    border-style: solid;
    border-width: 15px;
    width: 230px;
    border-color: #4aaaa5;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    margin-left: 24.8%;
}

/* sets the page title on all pages */
.title {
    color: #4aaaa5;
    font-size: xx-Large;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 3%;
    border-bottom: 3px solid #cccccc;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* sets total main content area */
.body {
    width: 960px;
    height: auto;
    margin: auto;
    background: #ffffff;
    padding: 1%;
}

/* sets total main content area for the portfolio page*/
.portbody {
    width: 960px;
    height: 1000px;
    margin: auto;
    background: #ffffff;
    padding: 1%;
}

/* About Me profile picture */
.indexPhoto {
    float: left;
    padding: 20px;
    height: 300px;
    width: 320px;
}

/* Header Adjustments */
header {
    background-color: #ffffff;
    height: 25%;
    margin-bottom: 20px;
}

/* Footer Adjustments */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
 }

 /* Footer Accent */
.topfooter {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
 }

 /* Photo Parameters */
 .imgContain {
    max-width: 410px;
    max-height: 300px;
    padding: 2%;
 }

 /* Photo contain for positioning */
.posPhoto {
    position: relative;
    padding: 2%;
    width: 40%;
    float: left;
}

/* Puts and positions text on photos */
.photoText {
    position: absolute;
    bottom: 12%;
    left: 6.2%;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 97.3%;
    text-align: center;
}
